a{
    text-decoration: none;
}
.navbar-menu{

    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li {
    text-decoration: none;
display: inline-block;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    min-width: 320px;
    line-height: 1.4;
    height: auto;
    overflow-x: hidden;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-holderh1 {
    position: relative;
    left: 150px;
    bottom: 125px;
}
  .logo-holder {
    position: relative;
    font-weight: 700;
    font-size: 26px;
color: #000000;
    padding: 5px;
  }
  
  .logo-holder img {
    max-width: 40%;
    height: auto;
  }
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    }
    
    .slide {
    display: none;
    text-align: center;
    padding: 50px 0;
    }
    .slide img{
        background-size: fixed;
        width: 450px;
        height: 250px;
    }
    
    .active {
    display: block;
    }
    
    .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    }
    
    .prev {
    left: 0;
    }
    
    .next {
    right: 0;
    }
   
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        }
        
        .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 500px;
        height: 500px;
        }
        
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }
#openModal{
    bottom: 585px;
    float:right;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    margin: 20px;
    color: white;
    background: red;
    border: 0px;
    line-height: 40px;
    padding: 0px 35px;

}
.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 4px;
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
.text1 {
    left: 80px;
    position: relative;
    margin-left: 10px;
    display: inline-block;
    color: #111010;
    width: 44%;
    text-align: justify;
}
@media screen and (max-width: 768px) { 
    .logo-holderh1 { 
        left: 125px; 
        bottom: 60px; 
        font-size: 20px; 
    } 

    .text1 { 
        left: 50px; 
        width: 69%; 
        margin: 2px 2%; 
    } 
    .slide img{ 
        width: 250px; 
    } 
    #openModal{ 
        bottom: 500px; 
        position: relative; 
        left: 0px; 
    } 
    .form_auth_block_content{ 
        width: 100%; 
    } 
    .modal-content{ 
        width: 89%; 
        bottom: 500px; 
    } 
} 

@media screen and (max-width: 480px) { 
    .navbar-menu li { 
        display: block; 
        width: 100%; 
        text-align: center; 
    } 
    #openModal{ 
        bottom: 490px; 
        position: relative; 
        left: 0; 
    } 
    .slide img{ 
        width: 250px; 
    } 
    .logo-holderh1{ 
        font-size: 14px;  
    } 
} 

@media screen and (max-width: 992px) { 
    .logo-holderh1 { 
        left: 10px;  
        bottom: 10px;  
        font-size: 16px;  
    } 

    .text1 { 
        left: 50px; 
        width: 69%; 
        margin: 2px 2%; 
    } 
    .slide img{ 
        width: 250px; 

    } 
    #openModal{ 
        bottom: 500px; 
        position: relative; 
        left: 0px; 
    } 
    .form_auth_block_content{ 
        width: 100%; 
    } 
    .modal-content{ 
        width: 89%; 
        bottom: 500px; 
    } 
} 

@media screen and (max-width: 1280px) { 

    .text1 { 
        left: 50px; 
        width: 69%; 
        margin: 2px 2%; 
    } 

    .slide img{ 
        object-fit: cover; /* Добавлено свойство object-fit */
        width: 250px; 

    } 

    #openModal{ 
        bottom: 500px; 
        position: relative; 
        left: 0px; 
    } 

    .form_auth_block_content{ 
        width: 60%; 
    } 

    .modal-content{ 
        width: 89%;  
        bottom: 500px;  
    }  

}